# Dependencias
node_modules/
package-lock.json

# Angular
dist/
.tmp/
.angular/

# Variables de entorno
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*